<html ng-app="Main">
<head>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <h1>Soccer Calendar</h1>
  <div ng-controller="CalendarController">
    <script type="text/ng-template" id="calendar.html">
      <div class="month">
        Calendar for {{month}} {{year}}
      </div>
      <div class="days">
        <div class="day" ng-repeat="n in [] | range:31">
          <a href="#" ng-click="addEvent(n)">{{n}}</a>
          <span ng-repeat="event in events | eventsForDay:n">
            {{event.name}}
            <a href='#' ng-click="removeEvent(event)">x</a>
          </span>
        </div>
      </div>
    </script>
    <calendar month="{{calendar.month}}" year="{{calendar.year}}" ng-transclude>
    </calendar>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
