h1 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

div.days {
  width: 100%;
}

div.month {
  margin-bottom: 2em;
}

div.day {
  width: 13%;
  float: left;
  background-color: #3498db;
  min-height: 100px;
  margin: 2px;
}

div.day:nth-child(7n+1) {
  clear: left;
}

div.day:last-child {
  clear: right;
}
